<!DOCTYPE html>
<html>
<head>
	<title>基本信息</title>
	<% include header.ejs %>
</head>
<body>
<div class="section container">
	<h1></h1>
	<p>Welcome to <%= config.timeLimit %></p>
</div>
</body>
</html>
