<nav class="light-blue">
	<div class="nav-wrapper container">
		<a class="brand-logo" style="position: relative!important;float:left!important;" href="https://simcity.moe">SC D.C. Hub</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li class="active"><a href="/">插件Hub</a></li>
			<li><a href="http://tieba.baidu.com/f?kw=%E6%A8%A1%E6%8B%9F%E5%9F%8E%E5%B8%82">模拟城市吧</a></li>
			<li><a href="http://git.oschina.net/alicenychto/NaviCity">吧规Git</a></li>
			<li><a href="https://sm.ms/">好用的图床</a></li>
		</ul>
	</div>
</nav>